*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-areas: "result content__details";
  column-gap: 30px;
  width: 1140px;
}

.result {
  grid-area: result;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  column-gap: 5px;
  width: fit-content;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.search-form__textfield {
  min-width: 225px;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  background-color: transparent;
  appearance: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox {
  position: absolute;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
  margin-bottom: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  content: "";
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.button {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.button:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.more-button {
  width: 100%;
  height: 34px;
  flex-shrink: 0;
}

.content__details {
  grid-area: content__details;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Oswald";
  font-weight: bold;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 93.3%;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  height: 298px;
  margin-top: 18px;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible .content__video-card {
  outline: 1px solid #fff;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-title {
  font-family: "Oswald";
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 196px;
}

.content__video-card-description {
  line-clamp: 1;
  line-height: 16.2px;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
